<template name="editPostButtons">
    <!-- Split button -->
    <div class="btn-group editButton saveButton editButtonActive editPostButtons">
        <a href="/dash" class="btn btn-primary">Back</a>
        <button type="button" class="btn btn-primary savePost">{{{saveButton}}}</button>

        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="saveDraftDropdown" href="">Save Draft</a></li>
            <li><a class="publishDropdown" href="">Publish</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="deleteButton" href="">Delete</a></li>
        </ul>
    </div>
    <div class="btn-group editButton publishButton editPostButtons">
        <a href="/dash" class="btn btn-danger">Back</a>
        <button type="button" class="btn btn-danger publishPost">{{{publishButton}}}</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="saveDraftDropdown" href="">Save Draft</a></li>
            <li><a class="publishDropdown" href="">Publish</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="deleteButton" href="">Delete</a></li>
        </ul>
    </div>
</template>
<template name="editPost">
    <button class="editPostButton"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
</template>