<template name="sidebar">
    <div id="sidebar" class="sidebar col-sm-2">

        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="{{newPostActive}}"><a href="/editor">New Post</a></li>
            <li role="presentation" class="{{contentActive}}"><a href="/dash">Content</a></li>
        </ul>
        <div class="btn-group dropup" style="position: absolute; bottom: 0;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Switch Blog <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {{#each blogs}}
                <li><a class="switchBlog">{{name}}</a></li>
                {{/each}}
                <li><a href="/authorize">Add New Blog</a></li>
            </ul>
        </div>
    </div>
</template>
