<template name="authorize">
   <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">

                <h1>Add A Blog</h1>
                <h4>Install the following plugins on your wordpress site.</h4>
                <p><a href="https://downloads.wordpress.org/plugin/rest-api-oauth1.0.3.0.zip">WP Rest API Oauth1 Plugin.</a> This allows Character to securely connect to your blog.</p>
                <p><a href="https://github.com/WP-API/broker-plugin/archive/master.zip">WP Rest API Broker Plugin</a> This allows Character to connect more simply.</p>
                <p>Once you have installed both plugins input your url below.</p>
                <form class="domainNameForm form-inline">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">http://</span>
                        <input type="text" class="form-control url" id="url" placeholder="Website Url">
                    </div>
                    <button class="btn btn-primary" type="submit">Continue</button>
                </form>
                    {{#each blogs}}
                        {{blogs.name}}
                        {{/each}}
            </div>
        </div>
    </div>
    <div></div>
    <!--<div>{{!{{> React component=AuthorizeBlog}}}}</div>-->
</template>