<template name="authorize">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                <h1>Setup</h1>
                <h4>To use Character with your site follow these directions:</h4>
                <p><a href="https://github.com/WP-API/OAuth1">Wp Rest Api Oauth1 Plugin.</a></p>
                <p>Then you need to go to the users -> applications page of your dashboard (added by the plugin) and click add new. You can put anything in for app name and description (we recommend Name: Character, Description: Better Blogging for Wordpress) For callback put <code>https://character-blogging.herokuapp.com/authorize</code> (Very important!). Then click add consumer.</p>
                <h4> Once you've done this, you will get your consumer public and secret keys, enter these below, along with your blog's url (not including the http://).</h4>
                <form class="domainNameForm form-inline">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">http://</span>
                        <input type="text" class="form-control url" id="url" placeholder="Website Url">
                        <input type="text" class="form-control consumerPublic" id="consumerPublic" placeholder="Consumer Public Key">
                        <input type="text" class="form-control consumerPrivate" id="consumerPrivate" placeholder="Consumer Private Key">
                    </div>
                    <button class="btn btn-primary" type="submit">Continue</button>
                </form>

            </div>
        </div>
    </div>
    <div></div>
</template>