<template name="register">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12" style="text-align: center; padding-top: 70px; padding-bottom: 70px; border-bottom: 1px #eee solid;">
                    <h1>Character</h1>
                    <h3>Better Blogging for Wordpress</h3>
                </div>
            <div class="col-xs-12" style="text-align: center;">
                <h3>The wordpress dashboard is a pain to use.</h3>
                <h5>You don't need most of its features most of the time.</h5>
                <h3>You just need to write blog posts.</h3>
                <h5>Character will help you do that, and only that.</h5>
                <h3>It features:</h3>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm-4" style="text-align: center;">
                <i class="fa fa-code fa-2x" aria-hidden="true"></i>
                <h4>Markdown Editing</h4>
                <p style="text-align: left;">Use common markdown to style your posts with headings, lists, <strong>text emphasise</strong>, <code>code</code>, and more. If there's not markdown for it, you can always just use plain old html.</p>
            </div>
            <div class="col-sm-4" style="text-align: center;">
            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                <h4>Live Preview</h4>
                <p style="text-align: left;">See what your post looks like in real time, as you type. All your markdown and html styling is shown, so you can complement your awesome content with awesome typography.</p>
            </div>
            <div class="col-sm-4" style="text-align: center;">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                <h4>Smart Writing Suggestions</h4>
                <p style="text-align: left;">Adverbs, passive voice, words with simpler alternatives, complex and overlong sentences? Character will highlight all of them for you, so you can write the best content you're capable of.</p>
            </div>
            <div class="col-xs-12" style="text-align: center;">
                <h1>And that's it.</h1>
                <h3>Character will help you create content with <strong>design</strong> and <strong>substance</strong>, better then wordpress ever could.</h3>
                </div>
                <div class="col-xs-12" style="text-align: center; margin-bottom: 100px; margin-top: 100px">
                <h1>Sign up and get started creating amazing content.</h1>
                <h3>It's free (for now).</h3>
                    <br />
                <a class="btn btn-primary btn-lg" href="/sign-up">Sign Up</a>
                    </div>
            </div>
        </div>
</template>